<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Open Agreement</h1>
      <form>
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname"><br>

        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname"><br>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address"><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city">

        <label for="state">State:</label>
        <select id="state" name="state">
          <option value="WI">WI</option>
        </select><br>

        <label for="zip">Zip Code:</label>
        <input type="number" id="zip" name="zip"><br>

        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br>

        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday"><br>

        <label for="stock_number" id="stock_numberLbl">Vehicle: </label>

        <br>
        <label for="mileage_out">Current Mileage:</label>
        <input type="number" id="mileage_out" name="mileage_out" disabled><br>
        
        <label for="license_num">Drivers License Number:</label>
        <input type="text" id="license_num" name="license_num"><br>

        <label for="license_exp">Expiration Date:</label>
        <input type="date" id="license_exp" name="license_exp"><br>        
        

        <label for="ins_name">Insurance Provider:</label>
        <input type="text" id="ins_name" name="ins_name"><br>

        <label for="ins_policy">Policy Number:</label>
        <input type="text" id="ins_policy" name="ins_policy"><br>

        <label for="ins_exp">Expiration Date:</label>
        <input type="date" id="ins_exp" name="ins_exp"><br>

        <button type="button" id="save" name="save" onclick="javascript:send();">Save</button>
      </form>

      <br>
      <br>
      
  </div>
  <p id="output"></p>
</main>
<script>
  let fleetArray = [];

  <% for (let i = 0; i < fleet.length; i++) { %>
    fleetArray.push({
      'stock_number': "<%= fleet[i].stock_number %>",
      'year': <%= fleet[i].year %>,
      'make': "<%= fleet[i].make %>",
      'model': "<%= fleet[i].model %>",
      'color': "<%= fleet[i].color %>",
      'vin': "<%= fleet[i].vin %>",
      'mileage': <%= fleet[i].mileage %>,
      'status': "<%= fleet[i].status %>"
    });
  <% } %>

  function stockDropdown() {
    let select = document.createElement("select");
    select.required = true;
    select.title = 'stock_number';
    select.name = 'stock_number';
    select.id = 'stock_number';
    let option = document.createElement('option');
    option.value = 'chooseVehicle';
    option.id = 'choose';
    option.text = 'Select a Vehicle';
    select.appendChild(option);

    fleetArray.forEach(function (fa) {
      option = document.createElement('option');
      option.value = fa.stock_number;
      option.id = `${fleetArray.findIndex((obj) => { return obj.stock_number === fa.stock_number })}`;
      option.text = fa.stock_number;
      select.appendChild(option);
    });

    const selectOld = document.getElementById('stock_number');
    if (selectOld) {
      let oldValue = document.getElementById('stock_number').value;
      const parentNode = selectOld.parentNode;
      parentNode.replaceChild(select, selectOld);
      document.getElementById('stock_number').value = oldValue;
    } else {
      document.getElementById('stock_numberLbl').appendChild(select);
    }
  }
  stockDropdown();


  document.getElementById('stock_number').addEventListener('change', function () {
    if (this.value !== 'chooseVehicle') {
      let idx = fleetArray.findIndex((obj) => {return obj.stock_number === this.value});
      document.getElementById('mileage_out').value = fleetArray[idx].mileage;
    }
  });

  const output = document.getElementById("output");
  const send = async function() {
    const response = await fetch("/create", {
      method: "POST",
      headers: {
        "Accept": "application/json",
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        f_name: document.getElementById("fname").value,
        l_name: document.getElementById("lname").value,
        address: document.getElementById("address").value,
        city: document.getElementById("city").value,
        state: document.getElementById("state").value,
        zip_code: document.getElementById("zip").value,
        phone: document.getElementById("phone").value,
        email: document.getElementById("email").value,
        birthday: document.getElementById("birthday").value,
        license_num: document.getElementById("license_num").value,
        license_exp: document.getElementById("license_exp").value,
        stock_number: document.getElementById("stock_number").value,
        mileage_out: document.getElementById("mileage_out").value,
        ins_name: document.getElementById("ins_name").value,
        ins_policy: document.getElementById("ins_policy").value,
        ins_exp: document.getElementById("ins_exp").value
      })
    });
    const result = await response.json();

    if (result.error) {
      output.innerHTML = `<strong>ERROR: ${result.error.routine}</strong>`;
    } else {
      console.log(result);
      output.innerHTML = 'Agreement Created!';
    }
  }

</script>
<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>