<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome to RIMS</h1>
    <p>This is our home page</p>
    <p>Buttons to test database functionallity:</p>
    <% buttons.forEach(function(b) { %>
        <button id="<%= b.id %>" onclick="javascript: send(<%= b.id %>);">
            <%= b.name %>
        </button>
    <% }); %>
    <!--Button to vehicle report-->
    <br><button id="vReportButton">Vehicle Report</button>
    <!--Availability dropdown-->
    <div>
      <label>Vehicle availability</label>
      <select id="availabilityDropdown" oninput="statusFilter()">
        <option>Any</option>
        <option>Available</option> <!--Changed to upper case in database since it's written like that-->
        <option>Unavailable</option> <!--Name can be changed depending on future decisions-->
      </select>
    </div>
    <div>
      <table id = "vehicleTable" border="1px solid black">
        <tr>
          <th>Stock Number</th>
          <th>Year</th>
          <th>Make</th>
          <th>Model</th>
          <th>Color</th>
          <th>VIN</th>
          <th>Mileage</th>
          <th>Status</th>
        </tr>
         <% vehicles.forEach(function(v) { %>
          <tr>
            <td><%= v.stock_number %></td>
            <td><%= v.year %></td>
            <td><%= v.make %></td>
            <td><%= v.model %></td>
            <td><%= v.color %></td>
            <td><%= v.vin %></td>
            <td><%= v.mileage %></td>
            <td><%= v.status %></td>
          </tr>
      <% }); %> 
      </table>
    </div>
  </div>
  <p id="output"></p>
</main>
<script type ="text/javascript">
  //Link button to vehicle report
  document.getElementById("vReportButton").onclick = function() {
    location.href = "vehiclereport";
  };
  //Dropdown function to sort table
  function statusFilter() {
  let input, table, tr, filter, td, status;
  input = document.getElementById("availabilityDropdown");
  table = document.getElementById("vehicleTable");
  tr = table.getElementsByTagName("tr");
  filter = input.value;

  for (let row of tr) {
    td = row.getElementsByTagName("td");
    status = td[7] || null;
    if (filter === "Any" || !status || (filter === status.textContent)) {
        row.style.display = "";
      } else {
        row.style.display = "none";
      }
    }       
  };
</script>
<script>
    const output = document.getElementById("output");
    const send = async function (buttonId) {
        const response = await fetch("/log", {
            method: "POST",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                id: buttonId
            })
        });
        const result = await response.json();
        console.log(result);

        if (result.error) {
            output.innerHTML = `<strong>ERROR: ${result.error.routine}</strong>`;
        } else {
            output.innerHTML = `Created button ${result.newId.new_id} at ${result.when.localtime}. Refresh to view
                    them all!`;
        }
    }
</script>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>