<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome to RIMS</h1>
    <p>This is our home page</p>
  </div>
  <p id="output"></p>
</main>
  <div>
    <h2>Vehicles</h2>
    <!--Availability dropdown-->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="availabilityDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Vehicle Availability
      </button>
      <div class="dropdown-menu" aria-labelledby="availabilityDropdown">
        <button class="dropdown-item" type="button" onclick="statusFilter('Any')">Any</button>
        <button class="dropdown-item" type="button" onclick="statusFilter('Available')">Available</button>
        <button class="dropdown-item" type="button" onclick="statusFilter('Loaned Out')">Loaned Out</button>
        <button class="dropdown-item" type="button" onclick="statusFilter('Repairing')">Repairing</button>
        <button class="dropdown-item" type="button" onclick="statusFilter('Decommissioned')">Decommissioned</button>
      </div>
    </div>
    <div>
      <table id = "vehicleTable" class="table table-striped">
        <tr>
          <th>Stock Number</th>
          <th>Year</th>
          <th>Make</th>
          <th>Model</th>
          <th>Color</th>
          <th>VIN</th>
          <th>Mileage</th>
          <th>Status</th>
        </tr>
         <% vehicles.forEach(function(v) { %>
          <tr>
            <td><%= v.stock_number %></td>
            <td><%= v.year %></td>
            <td><%= v.make %></td>
            <td><%= v.model %></td>
            <td><%= v.color %></td>
            <td><%= v.vin %></td>
            <td><%= v.mileage %></td>
            <td><%= v.status %></td>
          </tr>
      <% }); %> 
      </table>
    </div>
    <br>
    <!--Button to vehicle report-->
    <button id="vReportButton" class="btn btn-primary">Vehicle Report</button>
    <br>
    <br>
    <h2>Recent Rentals</h2>
    <div>
      <table id="recentRentalTable" class="table table-striped">
        <tr>
          <th>Stock Number</th>
          <th>Year</th>
          <th>Make</th>
          <th>Model</th>
          <th>Color</th>
          <th>VIN</th>
          <th>Mileage</th>
          <th>Customer ID</th>
          <th>Customer First Name</th>
          <th>Customer Last Name</th>
          <th>Date Out</th>
        </tr>
        <% recentRentals.forEach(function(r) { %>
        <tr>
          <td><%= r.stock_number %></td>
          <td><%= r.year %></td>
          <td><%= r.make %></td>
          <td><%= r.model %></td>
          <td><%= r.color %></td>
          <td><%= r.vin %></td>
          <td><%= r.mileage %></td>
          <td><%= r.id %></td>
          <td><%= r.f_name %></td>
          <td><%= r.l_name %></td>
          <td><%= r.date_out %></td>
        </tr>
        <% }); %>
      </table>
    </div>
  </div>
</main>
<script type ="text/javascript">
  //Link button to vehicle report
  document.getElementById("vReportButton").onclick = function() {
    location.href = "vehiclereport";
  };
  //Dropdown function to sort table
  function statusFilter(filter) {
    let table, tr, td, status;
    table = document.getElementById("vehicleTable");
    tr = table.getElementsByTagName("tr");

    for (let row of tr) {
      td = row.getElementsByTagName("td");
      status = td[7] || null;
      if (filter === "Any" || !status || (filter === status.textContent)) {
          row.style.display = "";
        } else {
          row.style.display = "none";
        }
    }       
  };
</script>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>