<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome to RIMS</h1>
    <p>This is our home page</p>
    <p>Buttons to test database functionallity:</p>
    <% buttons.forEach(function(b) { %>
        <button id="<%= b.id %>" onclick="javascript: send(<%= b.id %>);">
            <%= b.name %>
        </button>
    <% }); %>
  </div>
  <p id="output"></p>
</main>
<script>
    const output = document.getElementById("output");
    const send = async function (buttonId) {
        const response = await fetch("/log", {
            method: "POST",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                id: buttonId
            })
        });
        const result = await response.json();
        console.log(result);

        if (result.error) {
            output.innerHTML = `<strong>ERROR: ${result.error.routine}</strong>`;
        } else {
            output.innerHTML = `Created button ${result.newId.new_id} at ${result.when.localtime}. Refresh to view
                    them all!`;
        }
    }
</script>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>