<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <p>
     To reopen a closed agreement, please select the desired agreement number below. The selected agreement will be reopened
     so the customer can go back out into the vehicle. You will then get a confimation on the bottom of the screen and you will
     see the vehicle status updated on the home page.
    </p>
    <h1 id="heading">Reopen Agreement</h1>
    <form>
      <div class="form-group row">
        <label for="agreement" class="col-sm-3 col-form-label">Agreement Number</label>
        <select id="agreement" name="agreement" class="form-control col-sm-4">
          <option value="default">Select an agreement to reopen</option>
        </select>
      </div>
      <div class="form-group row">
        <label for="stock_number" id="stock_numberLbl" class="col-sm-3 col-form-label">Stock Number</label>
        <input type="text" id="stock_number" name="stock_number" class="form-control col-sm-4" disabled>
      </div>
      
      <div class="form-group row">
        <label for="customer" class="col-sm-3 col-form-label">Customer Name</label>
        <input type="text" id="customer" name="customer" class="form-control col-sm-4" disabled>
      </div>
      <button type="button" id="reopen" name="reopen" class="btn btn-secondary mb-2" onclick="javascript:send()"; disabled>Reopen</button>
    </form>
    
  </div>
  <p id="output"></p>
</main>
<script>
let agreementArray = [];

<% for (let i = 0; i < closedAgreements.length; i++) { %>
  agreementArray.push({
    'agreement_num': <%= closedAgreements[i].agreement_num %>,
    'stock_number': "<%= closedAgreements[i].stock_number %>",
    'first_name': "<%= closedAgreements[i].f_name %>",
    'last_name': "<%= closedAgreements[i].l_name %>"
  });
<% } %>

function agreementDropdown() {
  select = document.getElementById('agreement');

  agreementArray.forEach(function (aa) {
    option = document.createElement('option');
    option.value = aa.agreement_num;
    option.id = `${agreementArray.findIndex((obj) => { return obj.agreement_num === aa.agreement_num})}`;
    option.text = aa.agreement_num;
    select.appendChild(option);
  });
}

agreementDropdown();

document.getElementById('agreement').addEventListener('change', function () {
    if (this.value !== 'default') {
      let idx = agreementArray.findIndex((obj) => {return obj.agreement_num === Number(this.value)});
      document.getElementById('stock_number').value = agreementArray[idx].stock_number;
      document.getElementById('customer').value = agreementArray[idx].first_name + " " + agreementArray[idx].last_name;
      document.getElementById('reopen').disabled = false;
      document.getElementById('reopen').style.backgroundColor = '#007bff';
      document.getElementById('reopen').style.borderColor = '#007bff';
    }
  });

  const output = document.getElementById('output');
  const send = async function() {
    const response = await fetch("/reopen", {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        agreement_num: document.getElementById('agreement').value,
        stock_number: document.getElementById('stock_number').value
      })
    });
    const result = await response.json();

    if (result.error) {
      output.innerHTML = `<strong>ERROR: ${result.error.routine}</strong>`;
    } else {
      output.innerHTML = result.message;
    }

  }

</script>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>