<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <p>
      This page allows you to return loaned out vehicles, as well as reopen closed agreements. At the current moment you can only properly select a vehicle by stock number.
      If you are wanting to reopen a closed agreement, you simply need to select the stock number of the vehicle in question. The grey 'Reopen' button below will become active
      if it is valid to reopen the agreement. Upon submitting the request, you will receive confirmation that the agreement was reopened.
    </p>
    <h1 id="heading">Return Agreement</h1>
    <form>
      <div class="form-group row">
        <label for="stock_number" id="stock_numberLbl" class="col-sm-3 col-form-label">Stock Number</label>

        <select name="stock_number" id="stock_number" class="form-control col-sm-4">
          <option value="choose">Select a vehicle</option>
        </select>
        <!-- <input type="text" id="stock_number" name="stock_number" class="form-control col-sm-4" placeholder="Enter Stock Number..."> -->
      </div>
      <div class="form-group row">
        <label for="agreement" class="col-sm-3 col-form-label">Agreement Number</label>
        <input type="text" id="agreement" name="agreement" class="form-control col-sm-4" placeholder="Enter Agreement Number...">
      </div>
      <div class="form-group row">
        <label for="customer" class="col-sm-3 col-form-label">Customer Name</label>
        <input type="text" id="customer" name="customer" class="form-control col-sm-4" disabled>
      </div>
      <div class="form-group row">
        <label for="mileage_out" class="col-sm-3 col-form-label">Outgoing Mileage</label>
        <input type="number" id="mileage_out" name="mileage_out" class="form-control col-sm-4" disabled>
      </div>
      <div class="form-group row">
        <label for="mileage_in" class="col-sm-3 col-form-label">Return Mileage</label>
        <input type="number" id="mileage_in" name="mileage_in" class="form-control col-sm-4" disabled>
      </div>
      <div class="form-group row">
        <label for="miles_driven" class="col-sm-3 col-form-label">Miles Driven</label>
        <input type="number" id="miles_driven" name="miles_driven" class="form-control col-sm-4" disabled>
      </div>
      <div class="form-group row">
        <label for="status" class="col-sm-3 col-form-label">Set Status to</label>
        <select name="status" id="status" class="form-control col-sm-4" disabled>
          <option value="Available">Available</option>
          <option value="Decommissioned">Decommissioned</option>
          <option value="Repairing">Repairing</option>
        </select>
      </div>      

      <button type="button" id="save" name="save" class="btn btn-primary mb-2" onclick="javascript:send('save');">Save</button>
      <button type="button" id="reopen" name="reopen" class="btn btn-secondary mb-2" onclick="javascript:send('reopen')"; disabled>Reopen</button>
    </form>
    
  </div>
  <p id="output"></p>
</main>

<script>
  let fleetArray = [];
  let agreementArray = [];

  <% for (let i = 0; i < onLoan.length; i++) { %>
    fleetArray.push({
      'stock_number': "<%= onLoan[i].stock_number %>",
      'year': <%= onLoan[i].year %>,
      'make': "<%= onLoan[i].make %>",
      'model': "<%= onLoan[i].model %>",
      'color': "<%= onLoan[i].color %>",
      'vin': "<%= onLoan[i].vin %>",
      'mileage': <%= onLoan[i].mileage %>,
      'status': "<%= onLoan[i].status %>"
    });
  <% } %>

  <% for (let i = 0; i < agreements.length; i++) { %>
    agreementArray.push({
      'agreement_num': <%= agreements[i].agreement_num %>,
      'cust_id': <%= agreements[i].cust_id %>,
      'stock_number': "<%= agreements[i].stock_number %>",
      'first_name': "<%= agreements[i].f_name %>",
      'last_name': "<%= agreements[i].l_name %>",
      'mileage_out': <%= agreements[i].mileage_out %>
    });
  <% } %>

  function stockDropdown() {
    select = document.getElementById('stock_number');

    agreementArray.forEach(function (aa) {
      option = document.createElement('option');
      option.value = aa.stock_number;
      option.id = `${agreementArray.findIndex((obj) => { return obj.stock_number === aa.stock_number })}`;
      option.text = aa.stock_number;
      select.appendChild(option);
    });

    const selectOld = document.getElementById('stock_number');
    if (selectOld) {
      let oldValue = document.getElementById('stock_number').value;
      const parentNode = selectOld.parentNode;
      parentNode.replaceChild(select, selectOld);
      document.getElementById('stock_number').value = oldValue;
    } else {
      document.getElementById('stock_numberLbl').appendChild(select);
    }
  }
  stockDropdown();

  var elementArray = [];
  var idx;
  var fidx;

  elementArray.push(document.getElementById('stock_number'), document.getElementById('agreement'));
  console.log(agreementArray);
  console.log(fleetArray);
  /*
  document.getElementById('stock_number').addEventListener('change', function () {
    if (this.value !== 'choose') {
      let idx = agreementArray.findIndex((obj) => {return obj.stock_number === this.value});
      document.getElementById('agreement').value = agreementArray[idx].agreement_num;
      document.getElementById('mileage_out').value = agreementArray[idx].mileage_out;
      document.getElementById('customer').value = agreementArray[idx].first_name + " " + agreementArray[idx].last_name;
      document.getElementById('mileage_in').disabled = false;
      document.getElementById('status').disabled = false;
    }
  }); */

  elementArray.forEach(function(e) {
    e.addEventListener('change', function() {
      if (this.value !== 'choose') {
        if (e === document.getElementById('stock_number')) {
          idx = agreementArray.findIndex((obj) => {return obj.stock_number === this.value});
          fidx = fleetArray.findIndex((obj) => {return obj.stock_number === this.value});
          
        } else if (e === document.getElementById('agreement')) {
          idx = agreementArray.findIndex((obj) => {return obj.agreement_num === Number(this.value)});
          fidx = agreementArray.findIndex((obj) => {
            console.log(obj);
            if (Number(this.value) === obj.agreement_num){
              return obj.stock_number
            }
          });
        }

        console.log(fleetArray[fidx]);
        console.log(fleetArray[fidx].status);

        if (fleetArray[fidx].status == 'Loaned Out') {
          document.getElementById('heading').innerHTML = 'Return Agreement';
          document.getElementById('mileage_in').disabled = false;
          document.getElementById('status').disabled = false;
          document.getElementById('reopen').disabled = true;
          document.getElementById('save').disabled = false;
          document.getElementById('save').style.backgroundColor = '#007bff';
          document.getElementById('save').style.borderColor = '#007bff';
          document.getElementById('reopen').style.backgroundColor = '#6c757d';
          document.getElementById('reopen').style.borderColor = '#6c757d';
        } else {
          document.getElementById('heading').innerHTML = 'Reopen Agreement';
          document.getElementById('reopen').disabled = false;
          document.getElementById('reopen').style.backgroundColor = '#007bff';
          document.getElementById('reopen').style.borderColor = '#007bff';
          document.getElementById('save').disabled = true;
          document.getElementById('save').style.backgroundColor = '#6c757d';
          document.getElementById('save').style.borderColor = '#6c757d';
        }
      
        document.getElementById('stock_number').value = agreementArray[idx].stock_number;
        document.getElementById('agreement').value = agreementArray[idx].agreement_num;
        document.getElementById('mileage_out').value = agreementArray[idx].mileage_out;
        document.getElementById('customer').value = agreementArray[idx].first_name + " " + agreementArray[idx].last_name;
        
      }
    });
  });

  document.getElementById('mileage_in').addEventListener('change', function() {

    let mileage_in = Number(document.getElementById('mileage_in').value);
    let mileage_out = Number(document.getElementById('mileage_out').value);
    let miles_driven = mileage_in - mileage_out;

    if (miles_driven > 0) {
      document.getElementById('miles_driven').value = mileage_in - mileage_out;
    } else {
      alert('Mileage in must be more than mileage out');
    }
    
  })
  
  const output = document.getElementById('output');
  const send = async function(buttonId) {
    const response = await fetch("/return", {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        button: buttonId,
        agreement_num: document.getElementById('agreement').value,
        stock_number: document.getElementById('stock_number').value,
        mileage_in: document.getElementById('mileage_in').value,
        status: document.getElementById('status').value
      })
    });
    const result = await response.json();

    if (result.error) {
      output.innerHTML = `<strong>ERROR: ${result.error.routine}</strong>`;
    } else {
      console.log(result);
      output.innerHTML = result.message;
    }
  }
</script>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>