<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Vehicle Report</h1>
    <p>Current status of vehicles:</p>
    <div>
      <table id = "vehicleTable" border="1px solid black"
      padding="3px">
        <tr>
          <th>Stock Number</th>
          <th>Year</th>
          <th>Make</th>
          <th>Model</th>
          <th>Color</th>
          <th>VIN</th>
          <th>Mileage</th>
          <th>Status</th>
        </tr>
         <% vehicles.forEach(function(v) { %>
          <tr>
            <td><%= v.stock_number %></td>
            <td><%= v.year %></td>
            <td><%= v.make %></td>
            <td><%= v.model %></td>
            <td><%= v.color %></td>
            <td><%= v.vin %></td>
            <td><%= v.mileage %></td>
            <td><%= v.status %></td>
          </tr>
      <% }); %> 
      </table>
    </div>
  </div>
  <p id="output"></p>
</main>
<script>
    const output = document.getElementById("output");
    const send = async function (buttonId) {
        const response = await fetch("/log", {
            method: "POST",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                id: buttonId
            })
        });
        const result = await response.json();
        console.log(result);

        if (result.error) {
            output.innerHTML = `<strong>ERROR: ${result.error.routine}</strong>`;
        } else {
            output.innerHTML = `Created button ${result.newId.new_id} at ${result.when.localtime}. Refresh to view
                    them all!`;
        }
    }
</script>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>